.footer-container{
    margin-top: 70px;
    height: 280px;
   
    background-color: black;
}
.all-info{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: rgb(163, 143, 143);
}
.copyright{
    color: brown;
}
@media only screen and (max-width :688px) {
    .footer-container{
        grid-template-columns: repeat(1 , 1fr);
    }
 }
 @media only screen and (min-width:689px) and (max-width:991) {
    .footer-container{
        grid-template-columns: repeat(2 , 1fr);
    }
 };